@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
:root{
    --main: #FA6F01;
    --secondary: #021220;
    --font: 'PT Serif', serif;
}
body{
    background-color: #f0f0f0;
    /* z-index: -10; */
}
.container-1{
    margin: 0 6%;
}
.top-nav{
    background-color: var(--main);
    border-radius: 0px 0px 30px 30px;
}
.top-nav-right div p{
    color: white;
    font-size: 15px;
    position: relative;
    top: 8.5px;
}
.top-nav-right div:last-child{
    margin-left: 10px;
}
.top-nav-left{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.top-nav-left a{
    background-color: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}
.top-nav-left a i{
  color: var(--main);
}


/* -------------------main-navbar ----------------------*/
.logo img{
    width: 4rem;
    height: 4rem;
}
.nav-content{
    background-color: white;
    border-radius: 50px;
    /* z-index: 10; */
}
.nav-content-change{
    background-color: white;
    border-radius: 0px;
}
.main-nav{
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    width: 100%;
    z-index: 10;
}
.main-nav{
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    width: 100%;
}
.main-nav-change{
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 10px;
    background-color: white;
    margin-left: 8%;
}
/* .all-navbar{
    background-color: white;
}
.all-navbar .main-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 40px;
} */
/* .all-navbar .main-nav-js{
    position: fixed;
    top: 0;
    width: 100%;
} */


.navbar-nav li:nth-child(1){
    background-color: var(--main);
    padding: 17px;
}
.navbar-nav li:nth-child(2){
    background-color: black;
    padding: 17px;
}
.navbar-nav li:nth-child(3){
    background-color: #0875E6;
    padding: 17px;
}
.navbar-nav li:nth-child(4){
    background-color: #fff;
    padding: 17px;
}
.navbar-nav li:nth-child(5){
    background-color: var(--main);
    padding: 17px;
    border-radius: 50px;
}
.navbar-nav li a{
    color: white;
}
/* ------------------- end of main-navbar----------------- */

/* ------------------- Hero section----------------- */
.all-background{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../../assets/img/hero-2.webp) center/cover fixed no-repeat;
    height: 100vh;
}
.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.hero-content div h1{
    color: white;
    font-family: var(--font);
    transition: .30s ease;
}
.hero-content div h1:hover{
   -webkit-text-stroke: .5px #fff;
   color: transparent;
   cursor: pointer;
}
.hero-content div h1 span{
    display: block;
}
.hero-content div h4{
    font-family: var(--font);
    color: #ccc;
}
.hero-content div h4 span{
    display: block;
    line-height: 2rem;
}
.hero-btn button:first-child{
    background-color: var(--main);
    border-radius: 30px;
    color: white;
    border: 3px solid #fff;
}
.hero-btn button:last-child{
    background-color: var(--main);
    color: white;
    border-radius: 30px;
    border: 3px solid #fff;
}
/* ------------------- end of Hero section----------------- */

/* -------------------about-section---------------- */
.all-about{
    background-color: #021220;
    padding: 10px;
}
.title h1{
    position: relative;
    font-family: var(--font);
    padding-bottom: 10px ;
}
.title h1::before{
    content: "";
    position: absolute;
    width: 8rem;
    height: 4px;
    background-color: var(--main);
    bottom: 0;
}
/* -------------------end of about-section---------------- */
.all-choose{
    background-color: #000;
     padding: 30px;
}
.main-trade{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 2rem;
}
.col-bg{
    background-image: url(../../assets/img/cioo-trade.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    border-radius: 30px;
    width: 100%;
}
.col-bg-2{
    background-image: url(../../assets/img/trade-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    border-radius: 30px;
    margin-left: 10px;
    width: 100%;
}
.left-trade h4{
  color: white;
  font-size: 20px;
  line-height: 2rem;
  font-family: var(--font);
  margin-top: 10px;
}
.left-trade h4 span{
    color: var(--main) !important;
}
.left-trade a{
    text-decoration: none;
    color: var(--main);
}
.col-bg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-bg h1{
    text-align: center;
    color: #000;
    position: absolute;
    bottom: 2rem;
    font-family: var(--font);
    font-size: 22px;
}
.col-bg p{
    position: absolute;
    bottom: -0.5rem;
    padding: 2px;
}
.col-bg h1 span{
    display: block;
    text-align: center;
}
.col-bg h1 span:last-child{
    font-size: 30px;
    box-shadow: 2px 5px 15px #555;
    font-weight: 900;
}
.col-bg-2{
    position: relative;
}
.col-bg-2 div img{
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.col-bg-2 .signals{
    position: absolute;
    right: 0rem;
    top: 5rem;
    color: white;
}
.col-bg-2 .signals h3 span{
    display: block;
}

/* ------------------c end of hoose how you trade */



/* pricing section */
.all-pricing{
    background-color: #000;
    padding: 7% 0;
}
.price-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.price-1{
    padding: 30px;
    border-radius: 20px;
    /* border-top: 3px solid var(--main); */
}
.price-1 div h4{
    font-size: 20px;
    color: var(--secondary);
}
.price-1 div h4{
    font-size: 20px;
    font-family: var(--font);
    color: var(--secondary);
}
.price-1 div h6{
    font-size: 18px;
    font-family: var(--font);
    color: var(--main);
}
.about-1{
    display: flex;
    align-items: center;
}
.about-1 p{
    position: relative;
    top: 5px;
    margin-left: 15px;
    color: #555;
}
.plan-btn button{
    background-color: #0875E6;
    border: none;
    color: white;
    padding: 8px 20px;
}
/* end of pricing section */
/* mentorship-section */
.all-mentorship{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../../assets/img/mentor-hero.webp) center/cover fixed no-repeat;
    padding: 50px;
}
.mentorship-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 2fr 1fr 1fr; */
    gap: 2rem;
}
.mentorship-2 img{
    border-radius: 10px 10px 0px 0px;
}
.mentorship-2{
    background-color: #1E47E3;
    border-radius: 10px;
}
.mentorship-2 div{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mentorship-2 div button:first-child{
    background-color: #0875E6;
    padding: 8px 10px;
    border-radius: 50px;
    border: none;
    border: 2px solid #fff;
    color: white;
    font-family: var(--font);
}
.mentorship-2 div button:last-child{
    background-color: var(--main);
    padding: 8px 10px;
    border-radius: 50px;
    border: none;
    border: 2px solid #fff;
    color: white;
    font-family: var(--font);
}
.mentorship-includes p span{
    display: block;
    color: white;
    line-height: 2rem;
}
.mentorship-includes p span:nth-child(1){
    font-weight: bolder;
    font-family: var(--font);
}
.bell h2{
    font-weight: 400;
    transition: .30s ease;
    color: white;
}
.bell h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    /* font-weight: 400; */
}
.bell p{
    color: #ccc;
    font-size: 20px;
}
ul ol li{
    line-height: 2rem;
    font-size: 18px;
}
.all-btn{
    margin-top: 30px;
}
.all-btn button{
background-color: #0875E6;
  border: none;
  border-radius: 50px;
  padding: 8px 30px;
  color: white;
  border: 2px solid #fff;
  transition: .30s ease;
}
.all-btn button:hover{
    background-color: transparent;
}
/* end of mentorship-section */


/* testimonial-area */
.testimonial-area {
	padding: 80px 0;
}
.section-header h4 {
	color: #f75023;
	font-weight: 600;
}
.section-header {
	padding-bottom: 15px;
}
.section-header h2 {
	font-weight: 700;
}
.section-header p {
	color: #6f6b80;
	width: 40%;
	margin: auto;
}
.icon-area {
	text-align: center;
}
.icon-area i {
	color: #f75023;
	font-size: 40px;
	margin-bottom: 20px;
}
.content p {
	color: #6f6b80;
	width: 60%;
	margin: auto;
}
.person {
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #f75023;
	margin-top: 50px;
}
.person img {
	width: 100%;
}
.content h5 {
	font-weight: 900;
	margin-top: 15px;
}
.testimonial-area {
	background: url(../../assets/img/1.jpg);
	background-size: cover;
	background-position: center;
}
.carousel-indicators {
	bottom: -80px;
}
.carousel-indicators [data-bs-target] {
	width: 1rem;
	height: 1rem;
    border-radius: 50%;
	background-color: #f75023;
}
@media (min-width: 768px) and (max-width: 991px) {
	.section-header p {
		width: 85%;
	}
	.content p {
		width: 95%;
	}
}
@media (max-width: 767px) {
	.testimonial-area {
		padding: 30px 0;
	}
	.section-header p {
		width: 95%;
	}
	.content p {
		width: 100%;
	}
	.icon-area i {
		font-size: 50px;
	}
}


/*end of testimonial-area */

/* screenshot testimonal section */
.all-screen-shot{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../../assets/img/trade-1.jpg) center/cover fixed no-repeat;
    padding: 50px;
    /* height: 50vh; */
    margin-bottom: 60px;
    border-bottom: 4px dashed var(--main);
    border-top: 4px dashed var(--main);
}
.all-reviews{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.review-photo img{
    border-radius: 20px 20px 0 0;
}
.review-img{
    height: 300px;
    width: 100%;
}
.review-photo{
    background-color: #0875E6;
    padding: 2px 3px 5px 2px;
    border-radius: 20px;
}
.testimonial-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.testimonial-logo img{
    width: 1.5rem;
    height: 1.5rem;
}
.testimonial-logo h4{
    font-size: 16px;
    color: white;
    font-weight: 400;
}
.testimonial-logo h4 span{
    font-family: var(--font);
}
.review-text{
    background-color: var(--main);
    color: white;
    border-radius: 0px 0px 10px 10px;
    height: fit-content;
}
/*end of  screenshot testimonal section */



/* ----------------------back to top-------------------------- */

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #6bc1e9;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
/* ----------------------end of back to top-------------------------- */