@media(max-width: 600px){
    .top-nav{
        display: none;
    }
    .nav-content-change{
        /* background-color: black; */
        border-radius: 0px;
    }
    /* .nav-content{
        background-color: white;
        border-radius: 50px;
        visibility: hidden;
    } */
    .main-nav-change{
        margin-left: 0;
    }
    .main-trade{
        display: grid;
        grid-template-columns: 1fr;
    }
    .container-1{
        margin: 0;
    }
    .price-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .mentorship-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .mentorship-2 div{
        flex-direction: column;
        gap: 1rem;
    }
    .mentorship-2 div button:first-child{
        background-color: #0875E6;
        padding: 8px;
        border-radius: 50px;
        border: none;
        border: 4px solid #fff;
        color: white;
        font-size: 10px;
        font-family: var(--font);
    }
    .mentorship-2 div button:last-child{
        background-color: var(--main);
        padding: 8px 30px;
        border-radius: 50px;
        border: none;
        border: 4px solid #fff;
        color: white;
        font-size: 10px;
        font-family: var(--font);
    }
    .all-reviews{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .all-screen-shot{
        margin-top: 15%;
    }
}